// TODO: Should I define this on `h1` or on `.article-title`?
.article h1 {
    font-size: 1.7em;
    font-style: italic;
    font-weight: bold;
}

.by-line {
    color: $gray;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.article ul {
    list-style-type: disc;
    padding-left: 15px;
    line-height: 1.4em;
}

.article li {
    margin-bottom: 10px;
}

.comments-link {
    color: $blue;
    font-family: $sans-serif;
}
